body{
  margin: 0;
  background-color: rgb(242, 242, 242);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 1500px;
}
p{
  margin: 0;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgb(78, 133, 78);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
  z-index: 1;
}
.spanishText{
  color: white;
  font-weight: 300;
  background-color: rgb(65, 65, 65);
  padding: 8px;
}
.phoneNumber{
  font-size: 17px;
}
.numberLink{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.numberLink:hover{
  color: rgb(176, 176, 176);
}
.fa-solid.fa-envelope, .fa-solid.fa-phone{
  font-size: 16px;
}
.contact{
  font-size: 17px;
}
.headSec{
  display: flex;
  column-gap: 12px;
  align-items: center;
}
.header2{
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  z-index: 1;
}
.logo{
  width: 160px;
}
.links{
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.linkText{
  color: rgb(78, 133, 78);
  font-size: 18px;
}
.linkText:hover{
  opacity: 0.4;
}
.insuranceImage{
  width: 100%;
  height: 430px;
  object-fit: cover;
  box-shadow: 2px 2px 9px rgb(55, 55, 55);
}
.imageContainer{
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonInImage{
  position: relative;
  top: 250px;
  border: none;
  border-radius: 6px;
  padding: 8px 14px 8px 14px;
  width: 500px;
  height: 70px;
  background-color: rgb(42, 46, 42);
  color: whitesmoke;
  font-size: 19px;
  text-shadow: 2px 2px 8px rgb(61, 61, 61);
  cursor: pointer;
}
.buttonInImage:hover{
  font-size: 20px;
  width: 505px;
  height: 75px;
  transition: 0.3s;
}
.buttonLink{
  text-decoration: none;
}
.serviceContainer{
  padding-top: 60px;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serviceGrid{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 250px 250px 250px 250px;
  place-items: center;
  padding: 70px;
}
.serviceItems{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  row-gap: 12px;
}
.serviceSelection,.whoText{
  color: #4f4f4f;
  font-size: 28px;
  font-weight: 300;
}
.fa-solid.fa-car, .fa-solid.fa-house, .fa-solid.fa-sailboat, .fa-solid.fa-briefcase-medical, .fa-solid.fa-helmet-safety{
  font-size: 100px;
  color: whitesmoke;
  border: 1px solid;
  border-radius: 28px;
  background-color: rgb(46, 97, 46);
  padding: 18px 22px 18px 22px;
}
.fa-solid.fa-car:hover, .fa-solid.fa-house:hover, .fa-solid.fa-sailboat:hover, .fa-solid.fa-briefcase-medical:hover, .fa-solid.fa-helmet-safety:hover{
  font-size: 105px;
  transition: font-size 0.3s
}
.serviceTitles{
  font-size: 22px;
  font-weight: 300;
}
.introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 17px;
}
.introductionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 2px 2px 9px rgb(55, 55, 55);
  row-gap: 40px;
}
.underline{
  color: rgb(46, 97, 46);
  width: 120px;
  height: 3px;
  background-color: rgb(46, 97, 46);
}
.whoDesc{
  font-size: 18px;
  font-weight: 200;
  width: 1200px;
  line-height: 40px;
  color: #4f4f4f;
}
.box1{
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.finalLogo{
  width: 320px;
}
.logoDesc{
  width: 650px;
  font-size: 16.5px;
  font-weight: 300;
  color: grey;
  line-height: 25px;
}
.header3{
  position: static;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  background-color: rgb(197, 197, 197);
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright{
  font-weight: 300;
}
@media screen and (min-width: 300px) {
  .fa-solid.fa-car, .fa-solid.fa-house, .fa-solid.fa-sailboat, .fa-solid.fa-briefcase-medical, .fa-solid.fa-helmet-safety{
    font-size: 100px;
  }
  .phoneNumber, .contact, .spanishText{
    font-size: 14px;
  }
  .header2{
    column-gap: 20px;
  }
  .logo{
    width: 110px;
  }
  .linkText{
    font-size: 13px;
  }
  .serviceContainer{
    margin-top: -94px;
  }
  .buttonInImage{
    width: 250px;
    height: 50px;
    font-size: 16px;
    top: 150px;
  }
  .buttonInImage:hover{
    font-size: 18px;
    width: 270px;
    height: 53px;
  }
  .whoDesc{
    width: 100%;
    text-align: center;
  }
  .serviceGrid{
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .logoDesc{
    width: 100%;
    text-align: center;
  }
  .insuranceImage{
    padding-top: 48px;
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .imageContainer{
    padding-top: 0;
    height: 340px;
  }
  .serviceSelection{
    width: 300px;
  }
}
@media screen and (min-width: 600px) {
  .header2{
    column-gap: 20px;
  }
  .logo{
    width: 150px;
  }
  .linkText{
    font-size: 16px;
  }
  .serviceContainer{
    margin-top: -55px;
  }
  .buttonInImage{
    width: 250px;
    height: 50px;
    font-size: 16px;
    top: 168px;
  }
  .whoDesc{
    width: 100%;
    text-align: center;
  }
  .serviceGrid{
    grid-template-columns: 250px 250px;
    row-gap: 24px;
  }
  .logoDesc{
    width: 100%;
  }
  .insuranceImage{
    padding-top: 45px;
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .imageContainer{
    padding-top: 11px;
    height: 350px;
  }
  .serviceSelection{
    width: 380px;
  }
}
@media screen and (min-width: 800px) {
  .header2{
    column-gap: 20px;
  }
  .logo{
    width: 170px;
  }
  .linkText{
    font-size: 15px;
  }
  .serviceContainer{
    margin-top: 10px;
  }
  .buttonInImage{
    width: 350px;
    height: 70px;
    font-size: 16px;
    top: 210px;
  }
  .buttonInImage:hover{
    width: 370px;
    height: 75px;
  }
  .whoDesc{
    width: 100%;
    text-align: center;
  }
  .serviceGrid{
    grid-template-columns: 230px 230px 230px;
    row-gap: 24px;
  }
  .logoDesc{
    width: 100%;
  }
  .insuranceImage{
    padding-top: 50px;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .imageContainer{
    height: 350px;
  }
  .serviceSelection{
    width: 380px;
  }
}
@media screen and (min-width: 975px) {
  .header2{
    column-gap: 20px;
  }
  .logo{
    width: 170px;
  }
  .linkText{
    font-size: 16px;
  }
  .serviceContainer{
    margin-top: 60px;
  }
  .buttonInImage{
    width: 350px;
    height: 70px;
    font-size: 20px;
    top: 240px;
  }
  .buttonInImage:hover{
    width: 370px;
    height: 75px;
    font-size: 22px;
  }
  .whoDesc{
    width: 100%;
    text-align: center;
  }
  .serviceGrid{
    grid-template-columns: 212px 212px 212px 212px;
    row-gap: 24px;
  }
  .logoDesc{
    width: 100%;
  }
  .insuranceImage{
    padding-top: 55px;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .imageContainer{
    padding-top: 0;
    height: 340px;
  }
  .serviceSelection{
    width: 550px;
  }
}
@media screen and (min-width: 1000px) {
  .header2{
    column-gap: 20px;
  }
  .logo{
    width: 170px;
  }
  .linkText{
    font-size: 18px;
  }
  .serviceContainer{
    margin-top: 100px;
  }
  .buttonInImage{
    width: 350px;
    height: 70px;
    font-size: 20px;
    top: 280px;
  }
  .whoDesc{
    width: 100%;
    text-align: center;
  }
  .serviceGrid{
    grid-template-columns: 240px 240px 240px 240px;
    row-gap: 24px;
  }
  .logoDesc{
    width: 100%;
  }
  .insuranceImage{
    padding-top: 55px;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .imageContainer{
    padding-top: 0;
    height: 400px;
  }
  .serviceSelection{
    width: 550px;
  }
}
@media screen and (min-width: 1250px) {
  .header2{
    column-gap: 20px;
  }
  .logo{
    width: 170px;
  }
  .linkText{
    font-size: 16px;
  }
  .serviceContainer{
    margin-top: 240px;
  }
  .buttonInImage{
    width: 400px;
    height: 80px;
    font-size: 20px;
    top: 290px;
  }
  .buttonInImage:hover{
    width: 420px;
    height: 85px;
    font-size: 22px;
  }
  .whoDesc{
    width: 100%;
    text-align: center;
  }
  .serviceGrid{
    grid-template-columns: 230px 230px 230px 230px 230px;
    row-gap: 24px;
  }
  .logoDesc{
    width: 100%;
  }
  .insuranceImage{
    padding-top: 50px;
    width: 100%;
    height: 410px;
    object-fit: cover;
  }
  .imageContainer{
    padding-top: 0;
    height: 300px;
  }
  .serviceSelection{
    width: 550px;
  }
}